<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <title><%= title %>|大风车</title>
    <%- include ../header.ejs %>
</head>
<body>
<%- include ../topbar.ejs %>

<div class="container">
    <div class="col-md-9">
    </div>
</div>
<%- include ../footer.ejs %>
</body>
</html>