 <script src="/static/js/jquery-1.10.1.min.js"></script>
 <script src="/static/js/site.min.js"></script>
 <script src="/static/js/common.js"></script>
 <div class="mfooter">
     <%= Sys.cont.siteName %> ©2014 Powered by Node.js 0.10.28 Express 4 MySQL 5.7
     <br>开源系统，版本: 0.1.2
 </div>
 <span class="hidden" name="userHasLogin"><%=locals.user%></span>