<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <title>登录 | <%= Sys.cont.siteName %></title>
    <%- include header.ejs %>
</head>
<body>
<div class="container">
    <a href="/"><-返回<%= Sys.cont.siteName %></a>
    <hr>

    <div class="row">
        <div class="col-md-1">
            <div style="height: 40px;width: 55px;background-color: #126d8d;text-align: center;">
                <div style="color: #ffffff;font-size: 11px;">2014-08</div>
                <div style="color: #ffffff;font-weight: bold;font-size: 14px;">23</div>
            </div>
        </div>
        <div class="col-md-11">
            <ul>
                <li>文章置顶优化</li>
                <li>样式调整</li>
            </ul>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-1">
            <div style="height: 40px;width: 55px;background-color: #126d8d;text-align: center;">
                <div style="color: #ffffff;font-size: 11px;">2014-08</div>
                <div style="color: #ffffff;font-weight: bold;font-size: 14px;">21</div>
            </div>
        </div>
        <div class="col-md-11">
            <ul>
                <li>增加更新页面</li>
                <li>新增评论回复以及回复后显示问题</li>
                <li>增加文章置顶功能</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>